<!-- RETURN FIGURES -->
<!-- AbelCine, Baldor -->
{% include elements/figure.html filename="diagram--sitemap" caption="Figure 0.0 — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}

<!-- AbelCine -->
{% include elements/figure.html filename="diagram--checkout-flow" caption="Figure 0.0 — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}

<!-- HAVI -->
{% include elements/figure.html filename="diagram--multiregional" caption="Figure 0.0 — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}

<!-- Maptycs -->
{% include elements/figure.html class="w-50" filename="research--design-studio" caption="Figure 0.0 — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
{% include elements/figure.html class="w-50" filename="sketch--user-managment" caption="Figure 0.0 — Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %}
