<!-- RETURN PICTURES -->

<!-- AbelCine, Baldor, HAVI -->
{% include elements/picture.html img="wireframe--navigation" alt="" %}

<!-- AbelCine-->
{% include elements/picture.html img="wireframe--navigation-alt" alt="" %}
{% include elements/picture.html img="wireframe--product-detail" alt="" %}
{% include elements/picture.html img="wireframe--account" alt="" %}

<!-- Baldor -->
{% include elements/picture.html img="wireframe--ios-home" alt="" %}
{% include elements/picture.html img="wireframe--ios-search" alt="" %}
{% include elements/picture.html img="wireframe--ios-product-dialog" alt="" %}
{% include elements/picture.html img="wireframe--search" alt="" %}
{% include elements/picture.html img="wireframe--filter" alt="" %}

<!-- AbelCine, Baldor -->
{% include elements/picture.html img="wireframe--mobile-navigation" alt="" %}

<!-- Maptycs -->
{% include elements/picture.html img="prototype--menu-tasks" alt="" %}
{% include elements/picture.html img="ui--map-dark" alt="" %}
{% include elements/picture.html img="ui--map-light" alt="" %}
{% include elements/picture.html img="ui--map-admin" alt="" %}
{% include elements/picture.html img="ui--map-transit" alt="" %}
{% include elements/picture.html img="ui--overlay-eq" alt="" %}
{% include elements/picture.html img="ui--overlay-nuclear" alt="" %}
{% include elements/picture.html img="ui--report-histogram" alt="" %}
