<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture profile %}

  {% capture portrait %}
    {% assign img = site.gravatar_userimage %}
    {% include elements/figure.html caption="" src=img %}
  {% endcapture %}

  {% capture location %}
    {% include components/map.html %}
  {% endcapture %}

  {% include components/content-article.html type="media-object" size="60" figure=portrait map=location %}

{% endcapture %}

{% capture aside %}
  {% include components/content-aside.html type="sidebar" size="40" header="Connect" %}
{% endcapture %}

<!-- TEMPLATE -->
{% include components/content-panel.html display="flex-grid" block=profile sidebar=aside %}

<!-- MARKDOWN CONTENT -->
{% capture text %}{{ page.content | markdownify }}{% endcapture %}
{% include components/content-panel.html markdown=text %}
