<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture main %}
  {% capture data %}
    {% assign feed = site.projects | sort: 'position' %}
    {% for item in feed %}
      {% if item.published == true %}
      {% include components/project-panel.html %}
      {% endif %}
    {% endfor %}
  {% endcapture %}
  {% include patterns/feed.html content=data %}
{% endcapture %}

<!-- RETURN TEMPLATE -->
{% include components/content-panel.html block=main %}

<!-- MARKDOWN CONTENT -->
{% capture text %}{{ page.content | markdownify }}{% endcapture %}
{% include components/content-panel.html markdown=text %}
