<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture main %}

  {% capture overview %}
  {% assign item = page %}
  {% include components/project-header.html %}
  {% endcapture %}

  {% capture details %}
  {% assign item = page %}
  {% include components/project-panel--challenge.html %}
  {% endcapture %}

  {% capture stats %}
  {% assign item = page %}
  {% include components/stats-slab.html %}
  {% endcapture %}

  {% capture wireframes %}
  {% assign item = page %}
  {% include components/project-gallery--wireframes.html %}
  {% endcapture %}

  {% include patterns/project-detail.html header=overview content=details kpi=stats gallery=wireframes %}

{% endcapture %}

<!-- RETURN TEMPLATE -->
{% include components/content-panel.html block=main %}

<!-- MARKDOWN CONTENT -->
{% capture text %}{{ page.content | markdownify }}{% endcapture %}
{% include components/content-panel.html markdown=text %}
