<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture main %}

  {% capture overview %}
  {% assign item = page %}
  {% include components/project-panel.html %}
  {% endcapture %}

  {% capture stats %}
  {% assign item = page %}
  {% include components/stats-slab.html %}
  {% endcapture %}

  {% capture details %}
  {% assign item = page %}
  {% include components/project-panel--challenge.html %}
  {% include components/project-figure--sitemap.html %}
  {% include components/project-figure--diagram.html %}
  {% include components/project-gallery--wireframes.html %}
  {% include components/project-gallery--screens.html %}
  {% endcapture %}

  {% include patterns/project-detail.html type="media-object" size="full" content=overview kpi=stats challenge=details %}

{% endcapture %}

<!-- RETURN TEMPLATE -->
{% include components/content-panel.html display="flex-grid" block=main %}

<!-- MARKDOWN CONTENT -->
{% capture text %}{{ page.content | markdownify }}{% endcapture %}
{% include components/content-panel.html markdown=text %}
