<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture main %}

  {% capture experience %}
    {% assign work = site.data.resume.work %}
    {% include elements/header.html type="Header" scale="2" text="Experience"%}
    {% for item in work %}
    {% if item.published == true %}
    {% include patterns/media-object-list.html data=item %}
    {% endif %}
    {% endfor %}
  {% endcapture %}

  {% include components/content-article.html type="media-object" size="60" content=experience %}
{% endcapture %}

{% capture aside %}

  {% capture attributes %}
    {% assign skills = site.data.resume.skills %}
    {% for item in skills %}
    <span class="label ttu"><small>{{ item.name }}</small></span>
    <ul class="list">
      {% for each in item.keywords %}
      <li class="tag"><small>{{ each }}</small></li>
      {% endfor %}
    </ul>
    {% endfor %}
  {% endcapture %}

  {% include components/content-aside.html size="40" header="Skills" type="Header" content=attributes %}
{% endcapture %}

<!-- RETURN TEMPLATE -->
{% include components/content-panel.html display="flex-grid" block=main sidebar=aside %}

<!-- MARKDOWN CONTENT -->
{% capture text %}{{ page.content | markdownify }}{% endcapture %}
{% include components/block-panel.html markdown=text %}
