header.site-header,
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: $z-max;
  background-color: $near-white;

  padding: .25rem 0;

  @include spacing-padding-right();
  @include spacing-padding-left();

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
  }
  @include mq(laptop) {
  }
  @include mq(laptop-l) {
  }
  @include mq(desktop) {
  }
  @include mq(desktop-hd) {
  }

  &.site-header--pinned {
    border-bottom: 1px solid $light-gray;
    transform: translate(0,0);
  }
  &.site-header--unpinned {
    border-bottom: none;
    transform: translate(0,-100%);
  }
  &.window--scroll-y-0 {
    border-bottom: none;
    transition: all 0.2s ease-in-out;
  }
  &.window--scroll-y-0--false {
    transition: all 0.2s ease-in-out;
  }
  &.window--scroll-y-100 {
    transition: all 0.2s ease-in-out;
  }
  &.window--scroll-y-100--false {
    transition: all 0.2s ease-in-out;
  }
}
