$transparent:   transparent !default;

$white:         #FFFFFF     !default;
$black:         #000000     !default;

$navy:          #001B44     !default;
$near-white:    #EFEFEF     !default;

$font-family:   -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
                'avenir next', avenir, /* MacOS and iOS */
                'Segoe UI', /* Windows */
                'lucida grande', /* Older MacOS */
                'helvetica neue', helvetica, /* Older MacOS */
                'Fira Sans', /* Firefox OS */
                roboto, noto, /* Google stuff */
                'Droid Sans', /* Old Google stuff */
                cantarell, oxygen, ubuntu, /* Linux stuff */
                'franklin gothic medium', 'century gothic', /* Windows stuff */
                'Liberation Sans', /* Linux */
                sans-serif /* Everything else */ !default;

$z-max:         2147483647 !default
