<header class="page-header">
  {% capture header %}
    {% if page.intro %}
      {{ page.intro }}
    {% else %}
      {{ page.title }}
    {% endif %}
  {% endcapture %}
  {% include elements/header.html type="Header" scale="1" text=header %}

  {% if page.overview %}
  {% capture text %}{{ page.overview }}{% endcapture %}
  <p class="lead measure-wide">
  {{ text }}
  </p>
  {% endif %}

  {% if page.primary-anchor %}
  {% capture anchor %}{{ page.primary-anchor }}{% endcapture %}
  {% capture text %}{{ page.primary-anchor-text }}{% endcapture %}
  {% include components/anchor-scroller.html target=anchor label=text icon="long-arrow-right" xl="true" %}
  {% endif %}
</header>
