<header class="page-header">
  <h1 class="h1">
    <span class="">
      {% if page.intro %}
      {{ page.intro }}
      {% else %}
      {{ page.title }}
      {% endif %}
    </span>
  </h1>
  {% if page.overview %}
  <p class="lead">
    {{ page.overview }}
  </p>
  {% if page.anchor %}
  {% capture url %}{{ page.url }}{% endcapture %}
  {% capture anchor %}{{ page.anchor }}{% endcapture %}
  {% include components/anchor-scroller.html href=url target=anchor text="Learn More" icon="long-arrow-right" xl="true" %}
  {% endif %}
  {% endif %}

</header>
