<section class="media-object w-100 flex flex-wrap flex-nowrap-ns flex-row-ns items-center justify-center mv5">

  <aside class="w-100 flex flex-wrap items-center">
    <figure class="db w-100 pa0 ma0 mr4-l carousel" data-flickity='{"cellAlign": "right","wrapAround":true,"lazyLoad":true,"contain": true,"groupCells":true,"imagesLoaded": true }'>
      <picture class="db w-50 carousel-cell">
        <source media="(min-width: 60em)" data-flickity-lazyload-srcset="https://source.unsplash.com/WVIB7Ue-rKM">
        <source media="(min-width: 30em)" data-flickity-lazyload-srcset="https://source.unsplash.com/WVIB7Ue-rKM">
        <img class="carousel-cell-image" data-flickity-lazyload="https://source.unsplash.com/WVIB7Ue-rKM" alt="{{ project.name }} - Figure 1">
      </picture>
      <picture class="db w-50 carousel-cell">
        <source media="(min-width: 60em)" data-flickity-lazyload-srcset="https://source.unsplash.com/f2-jv2DZTIA">
        <source media="(min-width: 30em)" data-flickity-lazyload-srcset="https://source.unsplash.com/f2-jv2DZTIA">
        <img class="carousel-cell-image" data-flickity-lazyload="https://source.unsplash.com/f2-jv2DZTIA" alt="{{ project.name }} - Figure 1">
      </picture>
      <picture class="db w-50 carousel-cell">
        <source media="(min-width: 60em)" data-flickity-lazyload-srcset="https://source.unsplash.com/IjwH6O56C_A">
        <source media="(min-width: 30em)" data-flickity-lazyload-srcset="https://source.unsplash.com/IjwH6O56C_A">
        <img class="carousel-cell-image" data-flickity-lazyload="https://source.unsplash.com/IjwH6O56C_A" alt="{{ project.name }} - Figure 1">
      </picture>
      <picture class="db w-100 carousel-cell">
        <source media="(min-width: 60em)" data-flickity-lazyload-srcset="https://source.unsplash.com/HXCnklQdqIA">
        <source media="(min-width: 30em)" data-flickity-lazyload-srcset="https://source.unsplash.com/HXCnklQdqIA">
        <img class="carousel-cell-image" data-flickity-lazyload="https://source.unsplash.com/HXCnklQdqIA" alt="{{ project.name }} - Figure 1">
      </picture>
      <picture class="db w-100 carousel-cell">
        <source media="(min-width: 60em)" data-flickity-lazyload-srcset="https://source.unsplash.com/FabsEPIai38">
        <source media="(min-width: 30em)" data-flickity-lazyload-srcset="https://source.unsplash.com/FabsEPIai38">
        <img class="carousel-cell-image" data-flickity-lazyload="https://source.unsplash.com/FabsEPIai38" alt="{{ project.name }} - Figure 1">
      </picture>
    </figure>
  </aside>

  <article class="w-100 w-50-ns pa4 pa5-l mw9-l bg-washed-blue">
    <header class="">
      <h1 class="lh-title measure-wide f5 f3-ns" element="heading-1">
        <a class="link" href="#">Photography</a>
      </h1>
    </header>
    <p class="mv3 mv4-l lh-copy f6 f5-l measure">
      <small>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </small>
    </p>
    <a class="link" href="{{ project.baseurl }}/photography/">View All Photos <i class="fal fa-long-arrow-right"></i></a>
  </article>
</section>
