<figure class="w-100 ma0 pv4">

  <div class="w-100 db carousel" data-flickity='{"cellAlign": "right","wrapAround":true,"lazyLoad":true,"contain": true,"groupCells":true,"imagesLoaded": true }'>
    <picture class="db w-100 carousel-cell">
      <source media="(min-width: 60em)" srcset="https://via.placeholder.com/1200x960.jpg/001B44/FFFFFF/?text=Large+Screens">
      <source media="(min-width: 30em)" srcset="https://via.placeholder.com/960x720.jpg/001B44/FFFFFF/?text=Medium+Screens">
      <img src="https://via.placeholder.com/360x240.jpg/001B44/FFFFFF/?text=Small+Screens" alt="{{ page.title }} - Image">
    </picture>

    <picture class="db w-100 carousel-cell">
      <source media="(min-width: 60em)" srcset="https://via.placeholder.com/1200x960.jpg/001B44/FFFFFF/?text=Large+Screens">
      <source media="(min-width: 30em)" srcset="https://via.placeholder.com/960x720.jpg/001B44/FFFFFF/?text=Medium+Screens">
      <img src="https://via.placeholder.com/360x240.jpg/001B44/FFFFFF/?text=Small+Screens" alt="{{ page.title }} - Image">
    </picture>

    <picture class="db w-100 carousel-cell">
      <source media="(min-width: 60em)" srcset="https://via.placeholder.com/1200x960.jpg/001B44/FFFFFF/?text=Large+Screens">
      <source media="(min-width: 30em)" srcset="https://via.placeholder.com/960x720.jpg/001B44/FFFFFF/?text=Medium+Screens">
      <img src="https://via.placeholder.com/360x240.jpg/001B44/FFFFFF/?text=Small+Screens" alt="{{ page.title }} - Image">
    </picture>
  </div>

  <figcaption class="pa2 georgia">
    <small>Gallery 2.0 - Website Screens</small>
  </figcaption>
</figure>
