<figure class="w-100 ma0 pv4">
  <picture class="w-100">
    <source media="(min-width: 60em)" srcset="https://via.placeholder.com/1200x1200.jpg/FFFFFF/001B44/?text=Large+Sitemap">
    <source media="(min-width: 30em)" srcset="https://via.placeholder.com/960x960.jpg/FFFFFF/001B44/?text=Medium+Sitemap">
    <img src="https://via.placeholder.com/360x360.jpg/FFFFFF/001B44/?text=Small+Sitemap" alt="{{ page.title }} - Sitemap">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>Figure 1.0 - Sitemap</small>
  </figcaption>
</figure>
