<section class="project-panel
  {% if item.theme %}
  {% assign theme = item.theme %}

  {% case theme %}
  {% when 'washed' %}
  bg-washed-{{ item.color | slugify }}

  {% when 'light' %}
    {% unless item.color == 'black' %}
    bg-{{ item.color | slugify }}
    project-panel__theme-light
      {% else %}
      navy bg-white
    {% endunless %}

  {% when 'dark' %}
    {% unless item.color == 'black' %}
    bg-{{ item.color | slugify }}
    project-panel__theme-dark

    {% else %}
    washed-green bg-near-black
    {% endunless %}

  {% endcase %}
  {% endif %}">

  <figure class="project-art">
    <picture class="db">
      <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/art.jpg">
      <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/art@0,75x.jpg">
      <img class="db w-100" src="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/art@0,5x.jpg" alt="{{ item.name }} - Art">
    </picture>
  </figure>

  <article class="project-panel-body">
    <header class="">
      {% unless item.url == page.url %}
      <h2 class="">
        <a class="link
        {% if item.theme %}
        {% assign theme = item.theme %}

        {% case theme %}

        {% when 'light' %}
          {% unless item.color == 'white' %}
          link__theme-light
            {% else %}
            navy link__theme-light
          {% endunless %}

        {% when 'dark' %}
          {% unless item.color == 'black' %}
          link__theme-dark
            {% else %}
          washed-green link__theme-dark
          {% endunless %}

        {% endcase %}
        {% endif %}"
        href="{{ item.url }}">
          {{ item.title }}
        </a>
      </h2>

      {% else %}
      <h1 class="">
        {{ page.title }}
      </h1>
      {% endunless %}

    </header>

    {% if item.url == page.url %}
    <ul class="tag-list list">
      {% for each in item.tags %}
      <li class="tag
      {% if item.theme %}
      {% assign theme = project.theme %}

      {% case theme %}

      {% when 'light' %}
      tag__theme-light

      {% when 'dark' %}
      tag__theme-dark

      {% else %}

      {% endcase %}
      {% endif %}">
        <small>{{ each }}</small>
      </li>
      {% endfor %}
    </ul>

    {% endif %}

    <p class="">
      {{ item.overview }}
    </p>

    <footer class="">
      {% unless item.url == page.url %}
      <a class="link
        {% if item.theme %}
        {% assign theme = item.theme %}

        {% case theme %}
        {% when 'washed' %}

        {% when 'light' %}
        {% unless item.color == 'white' %}
        link__theme-light
        {% else %}
        black link__theme-light
        {% endunless %}

        {% when 'dark' %}
        {% unless item.color == 'black' %}
        link__theme-dark
        {% else %}
        white link__theme-dark
        {% endunless %}

        {% endcase %}
        {% endif %}"
        href="{{ item.url }}">View {{ item.title }} Details<i class="fal fa-fw fa-long-arrow-right"></i>
      </a>
      {% else %}
      <a class="link
        {% if item.theme %}
        {% assign theme = item.theme %}

        {% case theme %}
        {% when 'washed' %}

        {% when 'light' %}
        {% unless item.color == 'white' %}
        link__theme-light
        {% else %}
        black link__theme-light
        {% endunless %}

        {% when 'dark' %}
        {% unless item.color == 'black' %}
        link__theme-dark
        {% else %}
        white link__theme-dark
        {% endunless %}

        {% endcase %}
        {% endif %}"
        href="{{ item.external-url }}">{{ item.title | slugify | append: ".com" }} <i class="fal fa-fw fa-xs fa-external-link"></i>
      </a>
      {% endunless %}
    </footer>
  </article>

</section>
