<figure class="w-100 ma0 pv4">
  <picture class="db pa2 bg-white">
    <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/{{ item.title | slugify }}-diagram--large.jpg">
    <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/{{ item.title | slugify }}-diagram--medium.jpg">
    <img src="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/{{ item.title | slugify }}-diagram--small.jpg" alt="{{ item.name }} - Checkout Flow">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>Figure 1.0 - Diagram</small>
  </figcaption>
</figure>
