<figure class="w-100 ma0 pv4">
  <picture class="w-100">
    <source media="(min-width: 60em)" srcset="https://via.placeholder.com/1200x320.jpg/FFFFFF/001B44/?text=Large+Navigation">
    <source media="(min-width: 30em)" srcset="https://via.placeholder.com/960x240.jpg/FFFFFF/001B44/?text=Medium+Navigation">
    <img class="db w-100" src="https://via.placeholder.com/360x180.jpg/FFFFFF/001B44/?text=Small+Navigation" alt="{{ page.title }} - Navigation">
  </picture>
  <figcaption class="pa2 georgia">
    <small>Prototype A - Navigation</small>
  </figcaption>
</figure>
