<figure class="w-100 ma0 pv4">
  <picture class="db pa2 bg-white">
    <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/navigation.jpg">
    <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/navigation@0,75x.jpg">
      <img class="w-100" src="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/navigation@0,5x.jpg" alt="{{ item.name }} - Figure 1">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>Navigation Option 1</small>
  </figcaption>
</figure>

<figure class="w-100 ma0 pv4">
  <picture class="db pa2 bg-white">
    <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/navigation_alt.jpg">
    <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/navigation_alt@0,75x.jpg">
    <img class="w-100" src="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/navigation_alt@0,5x.jpg" alt="{{ item.name }} - Figure 1">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>Navigation Option 2</small>
  </figcaption>
</figure>

<figure class="w-100 ma0 pv4">
  <picture class="db pa2 bg-white">
    <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/account.jpg">
    <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/account@0,75x.jpg">
    <img class="w-100" src="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/account@0,5x.jpg" alt="{{ item.name }} - Figure 1">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>User Account (Pro) - Homepage Index</small>
  </figcaption>
</figure>

<figure class="w-100 ma0 pv4">
  <picture class="db pa2 bg-white">
    <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/product-detail.jpg">
    <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/product-detail@0,75x.jpg">
    <img class="w-100" src="{{ site.baseurl }}/images/projects/{{ item.title | slugify }}/product-detail@0,5x.jpg" alt="{{ item.name }} - Figure 1">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>User Account Index / Home</small>
  </figcaption>
</figure>
