<figure class="w-100 ma0 pv4">
  <picture class="db pa2">
    <source media="(min-width: 60em)" srcset="{{ site.baseurl }}/src/images/projects/{{ item.title | slugify }}/{{ item.title | slugify }}-diagram--checkout-flow.jpg">
    <source media="(min-width: 30em)" srcset="{{ site.baseurl }}/src/images/projects/{{ item.title | slugify }}/{{ item.title | slugify }}-diagram--checkout-flow@0,75x.jpg">
      <img class="db center" src="{{ site.baseurl }}/src/images/projects/{{ item.title | slugify }}/{{ item.title | slugify }}-diagram--checkout-flow@0,5x.jpg" alt="{{ item.name }} - Figure 1">
  </picture>
  <figcaption class="w-100 tc pa2 georgia">
    <small>Figure 1.0 - Diagram</small>
  </figcaption>
</figure>
