<div class="w-100 pa4 pa6-l bg-white navy">
  <label class="ma0">Project Stats</label>
  <div class="flex flex-wrap flex-row ma0 w-100">
    <dl class="fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ma0">WCAG</dd>
      <dd class="f4 fw6 ml0">AA</dd>
    </dl>

    <dl class="fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ma0">A11Y</dd>
      <dd class="f4 fw6 ml0">9.55</dd>
    </dl>

    <dl class="fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ma0">i18n</dd>
      <dd class="f4 fw6 ml0">3</dd>
    </dl>

    <dl class="fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ma0">Colors</dd>
      <dd class="f4 fw6 ml0">33</dd>
    </dl>

    <dl class="fl fn-l w-50 dib-l w-auto-l lh-title mr5-l">
      <dd class="f6 ma0">Fonts</dd>
      <dd class="f4 fw6 ml0">4</dd>
    </dl>

  </div>
</div>
