<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body id="top" class="{{ page.title | slugify }}">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {% include components/site-header.html %}

    {% assign main = page.template %}
    <main id="content" role="main">
    {% case main %}

      {% when 'home' %}
      {% include templates/home.html %}

      {% when 'about' %}
      {% include templates/about.html %}

        {% when 'resume' %}
        {% include templates/resume.html %}

        {% when 'travel' %}
        {% include templates/travel.html %}

      {% when 'portfolio' %}
      {% include templates/portfolio.html %}

        {% when 'projects' %}
        {% include templates/projects.html %}

          {% when 'project' %}
          {% include templates/project.html %}

        {% when 'photography' %}
        {% include templates/photography.html %}

          {% when 'photograph' %}
          {% include templates/photograph.html %}

      {% when 'contact' %}
      {% include templates/contact.html %}

      {% else %}

      {{ content }}

    {% endcase %}
    </main>
    {% unless page.template == 'home' %}
    {% include components/site-footer.html %}
    {% endunless %}
    {% include scripts.html %}
  </body>
</html>
