// * HTML
*, html {
  --body-background: var(--color-silver);
  --body-font-family: var(--font-family);
  background: var(--body-background);
  @include font-size($font-size-base);
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}
