// Avatar
.avatar {
  display: block;
}

.avatar__svg {
  position: relative;
  display: block;
}

.avatar__clippath,
.avatar__deco,
.avatar__img {
  transform-origin: 50% 50%;
}

.avatar__deco {
  fill: var(--color-light-red);
}
