// Card
.card {
  margin: 0 auto 0 auto;
  padding: space(loose) space(none);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: span 1;
  border-bottom: 1px solid var(--color-light-gray);

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    flex-direction: row;
  }
  @include mq(laptop) {
    flex-direction: row;
  }
  @include mq(laptop-l) {
    flex-direction: row;
  }
  @include mq(desktop) {
    flex-direction: row;
  }
  @include mq(desktop-hd) {
    flex-direction: row;
  }

  .card__figure {
    width: 100%;

    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
      margin-right: space(base);
    }
    @include mq(laptop) {
      margin-right: space(base);
   }
    @include mq(laptop-l) {
      margin-right: space(base);
    }
    @include mq(desktop) {
      margin-right: space(base);
    }
    @include mq(desktop-hd) {
      margin-right: space(base);
    }
  }

}

.card__meta {
  width: 100%;
  height: 100%;
}

.card__header,
.card__footer {
  width: 100%;
  margin: space(base) 0;
}

.card__number {

}

.card__category {
  @include overline-text-style;
  vertical-align: text-bottom;
}

.card__id {
  @include caption-text-style;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.card__title {
  margin: space(none);
}

.article-card__subtitle {
  margin: space(none);
}

.article-card__url {
  @include lead-text-style;
}
