// Cover
section.cover,
.cover {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 275px;
  margin: space(none) space(none);
  padding: space(super-loose) space(base);

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    padding: space(none) space(none);
    min-height: 550px;
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(laptop) {
    padding: space(none) space(none);
    min-height: 100vh;
    height: 100vh;
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(laptop-l) {
    padding: space(none) space(none);
    min-height: 100vh;
    height: 100vh;
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(desktop) {
    padding: space(none) space(none);
    min-height: 100vh;
    height: 100vh;
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(desktop-hd) {
    padding: space(none) space(none);
    min-height: 100vh;
    height: 100vh;
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
}

.cover__intro {
  padding: {
    top: space(super-loose);
    bottom: space(super-loose);
  }
}
