figure.figure,
.figure {
  position: relative;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  margin: {
    top: space(base);
    bottom: space(base);
  }
  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    margin: {
      top: space(bit-loose);
      bottom: space(bit-loose);
    }
  }
  @include mq(laptop) {
    margin: {
      top: space(loose);
      bottom: space(loose);
    }
  }
  @include mq(laptop-l) {
    margin: {
      top: space(loose);
      bottom: space(loose);
    }
  }
  @include mq(desktop) {
    margin: {
      top: space(extra-loose);
      bottom: space(extra-loose);
    }
  }
  @include mq(desktop-hd) {
    margin: {
      top: space(super-loose);
      bottom: space(super-loose);
    }
  }
}

.figure__svg {
  position: relative;
  display: inline;
}

.figure__clippath,
.figure__deco,
.figure__image {
  transform-origin: 50% 50%;
}

.figure__img {
  width: 100%;
  border-radius: space(base);
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate(0, -50%);
}

.figure__pic {
  width: 100%;
}

.figure__pic--caption {
  color: var(--color-silver);
  border-bottom: 1px solid var(--color-light-gray);
  padding: {
    top: space(none);
    bottom: space(super-loose);
  }
  margin: {
    top: space(base);
    bottom: space(super-loose);
  }
}

.figure__caption {
  position: absolute;
  width: 100%;
  bottom: space(base);
  color: var(--color-silver);

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    bottom: space(bit-loose);
  }
  @include mq(laptop) {
    bottom: space(loose);
  }
  @include mq(laptop-l) {
    bottom: space(loose);
  }
  @include mq(desktop) {
    bottom: space(extra-loose);
  }
  @include mq(desktop-hd) {
    bottom: space(loose);
  }
}

.figure__deco--theme-cool__navy {
  fill: var(--theme-cool__navy);
}

.figure__deco--theme-cool__green {
  fill: var(--theme-cool__green);
}

.figure__deco--theme-cool__aqua {
  fill: var(--theme-cool__aqua);
}

.figure__deco--theme-cool__lime {
  fill: var(--theme-cool__lime);
}

.figure__deco--theme-cool__dark-blue {
  fill: var(--theme-cool__dark-blue);
}

.figure__deco--theme-cool__olive {
  fill: var(--theme-cool__olive);
}

.figure__deco--theme-cool__maroon {
  fill: var(--theme-cool__maroon);
}

.figure__deco--theme-cool__light-red {
  fill: var(--theme-cool__light-red);
}

.figure__deco--theme-cool__hot-pink {
  fill: var(--theme-cool__hot-pink);
}

.figure__deco--theme-cool__teal {
  fill: var(--theme-cool__teal);
}

.figure__deco--theme-cool__dark-pink {
  fill: var(--theme-cool__dark-pink);
}

.figure__deco--theme-cool__white {
  fill: var(--theme-cool__white);
}
