// Content
section.markdown,
.markdown {
  max-width: $max-width / 2;
  display: block;
  margin: {
    top: space(super-loose);
    right: space(base);
    bottom: space(super-loose);
    left: space(base);
  }

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(laptop) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(laptop-l) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(desktop) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(desktop-hd) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
}
