header.masthead,
.masthead {
  padding: {
    top: space(super-loose);
    right: space(none);
    bottom: space(super-loose);
    left: space(none);
  }
  margin: {
    top: space(super-loose);
    right: space(bit-loose);
    bottom: space(super-loose);
    left: space(bit-loose);
  }
  border-bottom: 1px solid var(--color-light-gray);

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(laptop) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(laptop-l) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(desktop) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  @include mq(desktop-hd) {
    margin: {
      right: space(super-loose);
      left: space(super-loose);
    }
  }
  .masthead__meta {

  }

  .masthead__lead {
    @include lead-text-style;
    max-width: $max-width / 2;
  }

  div.masthead__controls,
  .masthead__controls {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    margin: {
      top: space(super-loose);
      bottom: space(super-loose);
    }
    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
      margin: {
        top: space(super-loose);
        bottom: space(super-loose);
      }
    }
    @include mq(laptop) {
      margin: {
        top: space(super-loose);
        bottom: space(super-loose);
      }
    }
    @include mq(laptop-l) {
      margin: {
        top: space(super-loose);
        bottom: space(super-loose);
      }
    }
    @include mq(desktop) {
      margin: {
        top: space(super-loose);
        bottom: space(super-loose);
      }
    }
    @include mq(desktop-hd) {
      margin: {
        top: space(super-loose);
        bottom: space(super-loose);
      }
    }
  }

  button.masthead__button,
  .masthead__button {
    @include font-size($lead-font-size);

    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
      margin-right: space(base);
    }
    @include mq(laptop) {
      margin-right: space(bit-loose);
    }
    @include mq(laptop-l) {
      margin-right: space(bit-loose);
    }
    @include mq(desktop) {
      margin-right: space(extra-loose);
    }
    @include mq(desktop-hd) {
      margin-right: space(super-loose);
    }
  }

  a.masthead__url,
  .masthead__url {
    @extend .masthead__lead;
    margin: {
      top: space(loose);
      bottom: space(loose);
    }
    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
      margin: {
        top: space(none);
        bottom: space(none);
      }
    }
    @include mq(laptop) {
      margin: {
        top: space(none);
        bottom: space(none);
      }
    }
    @include mq(laptop-l) {
      margin: {
        top: space(none);
        bottom: space(none);
      }
    }
    @include mq(desktop) {
      margin: {
        top: space(none);
        bottom: space(none);
      }
    }
    @include mq(desktop-hd) {
      margin: {
        top: space(none);
        bottom: space(none);
      }
    }
  }
}

.masthead__split-view {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 0;

    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: space(base);
    }
    @include mq(laptop) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: space(base);
    }
    @include mq(laptop-l) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: space(base);
    }
    @include mq(desktop) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: space(base);
    }
    @include mq(desktop-hd) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: space(base);
    }
}

.masthead__header,
.masthead__footer {
  width: 100%;
  margin: space(none);
}

.masthead__number {
  width: 100%;
  text-transform: uppercase;
}

.masthead__category {
  vertical-align: text-bottom;
}

.masthead__id {
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.masthead__title {
  margin: space(none);
}
