// Panel
div.panel,
.panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-column: span 1;
  width: 100%;
}

article.panel-body,
.panel-body {
  padding: {
    top: space(super-loose);
    bottom: space(super-loose);
  }
}

p.panel-lead,
.panel-lead {
  @include lead-text-style;
  max-width: $max-width / 2;
}
