// Stats Slab
div.stats-slab,
.stats-slab {
  display: block;
  margin: {
    top: space(super-loose);
    right: 0;
    bottom: space(super-loose);
    left: 0;
  }

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
  }
  @include mq(laptop) {
  }
  @include mq(laptop-l) {
  }
  @include mq(desktop) {
  }
  @include mq(desktop-hd) {
  }
}

.stats-slab__kpis {
  display: block;

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mq(laptop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mq(laptop-l) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mq(desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  @include mq(desktop-hd) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
