h1, h1.heading-1, .heading-1,
h2, h2.heading-2, .heading-2,
h3, h3.heading-3, .heading-3,
h4, h4.heading-4, .heading-4,
h5, h5.heading-5, .heading-5,
h6, h6.heading-6, .heading-6 {
  font-weight: bold;
  margin: .5rem 0;

  // @include spacing-margin-top();
  // @include spacing-margin-bottom();

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
  }
  @include mq(laptop) {
  }
  @include mq(laptop-l) {
  }
  @include mq(desktop) {
  }
  @include mq(desktop-hd) {
  }
}
