p.lead,
.lead {
  font-size: 1.2em;
}

@media #{$breakpoint-not-small} {
  p.lead,
  .lead {
    font-size: 1.4em;
  }
}

@media #{$breakpoint-medium} {
  p.lead,
  .lead {
    font-size: 1.4em;
  }
}

@media #{$breakpoint-large} {
  p.lead,
  .lead {
    font-size: 1.6em;
  }
}
