p.lead,
.lead {
  font-size: 1.2em;
}

@include mq(mobile-s) {
  p.lead,
  .lead {
    font-size: 1.2em;
  }
}

@include mq(mobile-m) {
  p.lead,
  .lead {
    font-size: 1.4em;
  }
}

@include mq(mobile-l) {
  p.lead,
  .lead {
    font-size: 1.4em;
  }
}

@include mq(tablet) {
  p.lead,
  .lead {
    font-size: 1.4em;
  }
}

@include mq(laptop) {
  p.lead,
  .lead {
    font-size: 1.6em;
  }
}

@include mq(laptop-l) {
  p.lead,
  .lead {
    font-size: 1.6em;
  }
}

@include mq(desktop) {
  p.lead,
  .lead {
    font-size: 1.6em;
  }
}

@include mq(desktop-hd) {
  p.lead,
  .lead {
    font-size: 1.6em;
  }
}
