a.link,
.link {
  color: $font-color;
  text-decoration: none;

  position: relative;
  z-index: 0;

  &:focus,
  &:active {
    outline: 1px dotted $font-color;
  }

  &:hover {

    &:after {
      height: 1.2em;
      left: .15em;
      background-color: lighten($link-color, 5%);
    }

    svg, i {
      transform: translate(.25em, 0);
      transition: all 0.2s ease-in-out;
    }
  }

  &:after {
    height: .3em;
    width: 100%;
    position: absolute;
    left: -.15em;
    bottom: -.1em;
    background-color: $link-color;
    content: " ";
    z-index: -1;
    transition: all 0.1s ease-in-out;
  }

  svg, i {
    transform: translate(0, 0);
    transition: all 0.2s ease-in-out;
  }

  &.link__theme-dark {
    color: $washed-green;

    &:hover {
      &:after {
        background-color: darken($teal, 5%);
      }
    }

    &:after {
      background-color: $teal;
    }
  }

  &.link__theme-light {
    color: $font-color;

    &:hover {
      &:after {
        background-color: lighten($link-color, 5%);
      }
    }

    &:after {
      background-color: $link-color;
    }
  }

}

a.link-secondary {
  &:hover {
    &:after {
      background-color: lighten($moon-gray, 5%);
    }
  }

  &:after {
    background-color: $moon-gray;
  }
}


a.link-external {
  &:hover {
    &:after {
      background-color: lighten($aqua, 5%);
    }
  }

  &:after {
    background-color: $aqua;
  }
}

@include mq(mobile-s) {
  a.link,
  .link {
  }
}

@include mq(mobile-m) {
  a.link,
  .link {
  }
}

@include mq(mobile-l) {
  a.link,
  .link {
  }
}

@include mq(tablet) {
  a.link,
  .link {
  }
}

@include mq(laptop) {
  a.link,
  .link {
  }
}

@include mq(laptop-l) {
  a.link,
  .link {
  }
}

@include mq(desktop) {
  a.link,
  .link {
  }
}

@include mq(desktop-hd) {
  a.link,
  .link {
  }
}
