li.tag,
span.tag,
.tag {
  font-size: .875em;
  border: 1px solid rgba(0,0,0,0.1);
  padding: .3rem .4rem;
  margin: .125rem .125rem;
  line-height: 1;

  .tag__theme-light {
    border: 1px solid rgba(0,0,0,0.1);
    color: inherit;
  }

  .tag__theme-dark {
    border: 1px solid rgba(255,255,255,0.1);
    color: $washed-green;
  }
}

@include mq(mobile-s) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(mobile-m) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(mobile-l) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(tablet) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(laptop) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(laptop-l) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(desktop) {
  li.tag,
  span.tag,
  .tag {
  }
}

@include mq(desktop-hd) {
  li.tag,
  span.tag,
  .tag {
  }
}
