div.breadcrumbs,
.breadcrumbs {
  width: 100%;
  margin: 2rem 0;

  > ul {
    margin: 1rem 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
    }
  }
}

@media #{$breakpoint-not-small} {
  div.breadcrumbs,
  .breadcrumbs {

  }
}

@media #{$breakpoint-medium} {
  div.breadcrumbs,
  .breadcrumbs {

  }
}

@media #{$breakpoint-large} {
  div.breadcrumbs,
  .breadcrumbs {

  }
}
