header.collection-header,
.collection-header {
  padding: 3rem 2rem;
}

@media #{$breakpoint-not-small} {
  header.collection-header,
  .collection-header {
    padding-top:    4rem;
    padding-bottom: 4rem;
  }
}

@media #{$breakpoint-medium} {
  header.collection-header,
  .collection-header {
    padding-top:    4rem;
    padding-bottom: 4rem;
  }
}

@media #{$breakpoint-large} {
  header.collection-header,
  .collection-header {
    padding-top:    5rem;
    padding-bottom: 5rem;
  }
}
