section.content-panel,
.content-panel {
  padding: 3rem 2rem;
}

@media #{$breakpoint-not-small} {
  section.content-panel,
  .content-panel {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media #{$breakpoint-medium} {
  section.content-panel,
  .content-panel {
    padding-top: 3rem;
    padding-bottom: 3rem;

  }
}

@media #{$breakpoint-large} {
  section.content-panel,
  .content-panel {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
