header.header,
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  padding: 1rem 2rem;
  z-index: $z-max;
  background-color: $near-white;
}
@media #{$breakpoint-not-small} {
  .header {

  }
}

@media #{$breakpoint-medium} {
  .header {

  }
}

@media #{$breakpoint-large} {
  .header {

  }
}
