a.logo,
.logo {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;

  img {
    margin-right: 1rem;
  }

  span.logo-title,
  .logo-title {
    color: $navy;
    font-size: 1.2em;
    font-weight: normal;
  }

  &:focus,
  &:active {
    outline: 1px dotted $font-color;
  }

  &:after {
    display: none;
  }
}
