section.media-object,
.media-object {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
  }
  @include mq(laptop) {
  }
  @include mq(laptop-l) {
  }
  @include mq(desktop) {
  }
  @include mq(desktop-hd) {
  }

}
