li.navigation-list-item,
.navigation-list-item {
  display: block;
  width: 100%;
  margin: 1rem 0 0 0;

  @include mq(mobile-s) {
  }

  @include mq(mobile-m) {
  }

  @include mq(mobile-l) {
  }

  @include mq(tablet) {
  }

  @include mq(laptop) {
    display: inline;
    margin: 0 0 0 1rem;
  }

  @include mq(laptop-l) {
    display: inline;
    margin: 0 0 0 1rem;
  }

  @include mq(desktop) {
    display: inline;
    margin: 0 0 0 1rem;
  }

  @include mq(desktop-hd) {
    display: inline;
    margin: 0 0 0 1rem;
  }

  > a {
    font-weight: bold;
    font-size: 1.7em;
    text-decoration: none;

    @include mq(mobile-s) {
      font-size: 2.2em;
    }

    @include mq(mobile-m) {
      font-size: 2.2em;
    }

    @include mq(mobile-l) {
      font-size: 2.2em;
    }

    @include mq(tablet) {
      font-size: 2.2em;
    }

    @include mq(laptop) {
      font-weight: normal;
      font-size: 1em;
    }

    @include mq(laptop-l) {
      font-weight: normal;
      font-size: 1em;
    }

    @include mq(desktop) {
      font-weight: normal;
      font-size: 1em;
    }

    @include mq(desktop-hd) {
      font-weight: normal;
      font-size: 1em;
    }
  }
}
