button.navigation-toggle,
.navigation-toggle {
  font-size: 1em;
  display: block;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: $transparent;

  &:hover,
  :focus {
    border: none;
  }

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
  }
  @include mq(laptop) {
    display: none;
  }
  @include mq(laptop-l) {
    display: none;
  }
  @include mq(desktop) {
    display: none;
  }
  @include mq(desktop-hd) {
    display: none;
  }
}
