header.page-header,
.page-header {
  padding: 4rem 2rem;
}

@media #{$breakpoint-not-small} {
  header.page-header,
  .page-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media #{$breakpoint-medium} {
  header.page-header,
  .page-header {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media #{$breakpoint-large} {
  header.page-header,
  .page-header {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
