section.project-panel,
.project-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;

  @include spacing-margin-top();
  @include spacing-margin-bottom();

  @include mq(mobile-s) {
  }
  @include mq(mobile-m) {
  }
  @include mq(mobile-l) {
  }
  @include mq(tablet) {
  }
  @include mq(laptop) {
  }
  @include mq(laptop-l) {
  }
  @include mq(desktop) {
  }
  @include mq(desktop-hd) {
  }

  > figure.project-art,
  > .project-art {
    padding: 0;
    width: 100%;

    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
    }
    @include mq(laptop) {
      width: 50%;
    }
    @include mq(laptop-l) {
      width: 60%;
    }
    @include mq(desktop) {
      width: 65%;
    }
    @include mq(desktop-hd) {
      width: 50%;
    }
  }

  > div.project-panel-body,
  > .project-panel-body {
    width: 100%;
    flex: 1;

    @include spacing-padding();

    @include mq(mobile-s) {
    }
    @include mq(mobile-m) {
    }
    @include mq(mobile-l) {
    }
    @include mq(tablet) {
    }
    @include mq(laptop) {
      width: 50%;
    }
    @include mq(laptop-l) {
      width: 40%;
    }
    @include mq(desktop) {
      width: 35%;
    }
    @include mq(desktop-hd) {
      width: 50%;
    }
  }

}
