footer.site-footer,
.site-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 1rem;
  padding: 3rem 2rem;
  background-color: $white;
}

@media #{$breakpoint-not-small} {
  footer.site-footer,
  .site-footer {
    padding-top:    4rem;
    padding-bottom: 4rem;
  }
}

@media #{$breakpoint-medium} {
  footer.site-footer,
  .site-footer {
    padding-top:    4rem;
    padding-bottom: 4rem;
  }
}

@media #{$breakpoint-large} {
  footer.site-footer,
  .site-footer {
    padding-top:    5rem;
    padding-bottom: 5rem;
  }
}
