footer.site-footer,
.site-footer {
  display: flex;
  flex-direction: column;

  align-items: start;
  margin-top: 4rem;
  padding: 4rem 2rem;
  background-color: $white;
}

@media #{$breakpoint-not-small} {
  footer.site-footer,
  .site-footer {
    margin-top:     5rem;
    padding-top:    5rem;
    padding-bottom: 5rem;
  }
}

@media #{$breakpoint-medium} {
  footer.site-footer,
  .site-footer {
    margin-top:     5rem;
    padding-top:    5rem;
    padding-bottom: 5rem;
  }
}

@media #{$breakpoint-large} {
  footer.site-footer,
  .site-footer {
    margin-top:     7rem;
    padding-top:    7rem;
    padding-bottom: 7rem;
  }
}
