div.top-scroller,
.top-scroller {
  margin: 1rem 0;
}

@media #{$breakpoint-not-small} {
  div.top-scroller,
  .top-scroller {
    margin: 2rem 0;

  }
}

@media #{$breakpoint-medium} {
  div.top-scroller,
  .top-scroller {
    margin: 2rem 0;

  }
}

@media #{$breakpoint-large} {
  div.top-scroller,
  .top-scroller {
    margin: 3rem 0;

  }
}
