<!DOCTYPE html>
<html lang="en">

  <head>
    {% include head.html %}
  <link href="/dist/app.css" rel="stylesheet"></head>

  <body class="cds-typography mdc-typography">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    {{ content }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.1.1/iframeResizer.contentWindow.min.js" defer></script>
  <script type="text/javascript" src="/dist/app.js"></script><script type="text/javascript" src="/dist/resize.js"></script></body>

</html>
