// Colors
// Cool
$color-aqua:           #7FDBFF;
$color-navy:           #001B44;

$color-dark-blue:      #00449E;
$color-blue:           #0074D9;
$color-light-blue:     #96CCFF;
$color-lightest-blue:  #CDECFF;

$color-dark-green:     #137752;
$color-teal:           #39CCCC;
$color-olive:          #3D9970;
$color-lime:           #01FF70;
$color-green:          #2ECC40;
$color-light-green:    #9EEBCF;

// Warm
$color-maroon:         #85144B;
$color-dark-red:       #E7040f;
$color-red:            #FF4136;
$color-light-red:      #ff725c;

$color-orange:         #FF6300;
$color-yellow:         #FFD700;
$color-light-yellow:   #FBF1A9;

$color-fuchsia:        #F012BE;
$color-purple:         #5E2CA5;
$color-light-purple:   #A463F2;

$color-dark-pink:      #D5008F;
$color-hot-pink:       #FF41b4;
$color-pink:           #FF80CC;
$color-light-pink:     #FFA3D7;

// Gray Scale
$color-black:          #000000;
$color-near-black:     #111111;
$color-dark-gray:      #333333;
$color-mid-gray:       #555555;
$color-gray:           #777777;
$color-silver:         #999999;
$color-light-silver:   #AAAAAA;
$color-moon-gray:      #CCCCCC;
$color-light-gray:     #EEEEEE;
$color-near-white:     #F4F4F4;
$color-white:          #FFFFFF;

// Typography
$sans-serif:    proxima-nova, /* Adobe Typekit */
                -apple-system, BlinkMacSystemFont, /* MacOS and iOS */
                'avenir next', avenir, /* MacOS and iOS */
                'Segoe UI', /* Windows */
                'lucida grande', /* Older MacOS */
                'helvetica neue', helvetica, /* Older MacOS */
                'Fira Sans', /* Firefox OS */
                roboto, noto, /* Google stuff */
                'Droid Sans', /* Old Google stuff */
                cantarell, oxygen, ubuntu, /* Linux stuff */
                'franklin gothic medium', 'century gothic', /* Windows stuff */
                'Liberation Sans', /* Linux */
                sans-serif; /* Everything else */

$font-family:    $sans-serif;

$font-size-base: 1rem;
