<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture profile %}
  {% capture portrait %}
    {% assign img = site.gravatar_userimage %}
    {% include modules/figure.html class='figure__portrait' caption='Costa Rica – 2015' src=img deco=12 color='white' viewBox='0 0 500 500' %}
  {% endcapture %}
  {% include modules/panel.html id="profile" figure=portrait %}
{% endcapture %}
{% capture aside %}
  {% include modules/aside.html header='Connect' %}
{% endcapture %}

<!-- RETURN TEMPLATE -->
{% include modules/content.html view='split' block=profile sidebar=aside %}

<!-- MARKDOWN CONTENT -->
{% include modules/markdown.html %}
