<article class="article-card{% if include.class %} {{ include.class }}{% endif %}">
  {% assign hue = item.color %}
  {% include modules/figure.html class='article-card__figure' deco=1 clip='circle' color=hue %}
  <div class="article-card__meta">
    <header class="article-card__header">
      <div class="article-card__number">
        <span class="article-card__specimen"><small>{{ item.type }}</small></span>
        <span class="article-card__reference">0{{ item.position }}</span>
      </div>
      <h1 class="article-card__title">
        <a class="link" href="{{ item.url }}">{{ item.title }}</a>
      </h1>
      {% if item.role %}
      <h2 class="article-card__subtitle">{{ item.role }}</h2>
      {% endif %}
    </header>
    <p class="article-card__desc">
      {{ item.overview | truncatewords: 999999, " ..." }}
    </p>
    <footer class="article-card__footer">
      <a class="link article-card__url"
        href="{{ item.url }}">View {{ item.title }} Details<i class="fal fa-fw fa-long-arrow-right"></i>
      </a>
    </footer>
  </div>
</article>
