<aside class="aside">

  {% if include.header %}
    {% assign work = site.data.resume.work %}
    {% assign header = include.header %}
    {% include modules/header.html type="Header" scale="3" text=header %}
  {% endif %}

  {% if include.content %}
    <div class="aside__content">
      {{ include.content }}
    </div>
  {% endif %}

  {% include modules/definition-list.html %}

  {% include modules/map.html %}

  {% if site.data.resume.availability %}
    {% assign intro = site.data.resume.availability %}
    {% include modules/banner.html lead=intro action="Hire me" %}
  {% endif %}

  {% include modules/label.html text="Follow & Share" %}
  <span class="label"><small></small></span>
  <ul class="inline-list">
    <li>
      <a href="#" class="link link-external">
        <i class="fa-lg fab fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="#" class="link link-external">
        <i class="fa-lg fab fa-github"></i>
      </a>
    </li>
    <li>
      <a href="#" class="link link-external">
        <i class="fa-lg fab fa-spotify"></i>
      </a>
    </li>
    <li>
      <a href="#" class="link link-external">
        <i class="fa-lg fab fa-instagram"></i>
      </a>
    </li>
    <li>
      <a href="#" class="link link-external">
        <i class="fa-lg fab fa-twitter"></i>
      </a>
    </li>
  </ul>
</aside>
