<article class="card{% if include.class %} {{ include.class }}{% endif %}">
  {% assign hue = item.color %}
  {% include modules/figure.html class='card__figure' deco=1 clip='circle' color=hue %}
  <div class="card__meta">
    <header class="card__header">
      <div class="card__number">
        <span class="card__category"><small>{{ item.type }}</small></span>
        <span class="card__id">{{ item.title | truncate: 1, "" }}{{ item.date | date: "%y" }}</span>
      </div>
      <h1 class="card__title">
        <a class="link" href="{{ item.url }}">{{ item.title }}</a>
      </h1>
    </header>
    <p class="card__desc">
      {{ item.overview | truncatewords: 999999, " ..." }}
    </p>
    <footer class="card__footer">
      <a class="link article-card__url"
        href="{{ item.url }}">View {{ item.title }} Details<i class="fal fa-fw fa-long-arrow-right"></i>
      </a>
    </footer>
  </div>
</article>
