<figure class="figure
  {% if include.class %}
    {{ include.class }}
  {% endif %}">
  {% if include.deco %}
  <svg class="figure__svg" width="100%" height="100%" viewBox="{{ include.viewBox }}">
    {% if forloop.index %}
      {% assign shape = forloop.index %}
    {% else %}
      {% assign shape = include.deco %}
    {% endif %}
    <g class="figure__deco figure__deco--theme-cool__{{ include.color }}">
      <use xlink:href="{{ site.baseurl }}/app.svg#shape{{ shape }}" />
    </g>

    {% if include.clip %}
    <clipPath id="clipShape{{ include.clip | capitalize }}">
      <use xlink:href="{{ site.baseurl }}/app.svg#{{ include.clip }}" />
    </clipPath>
    <g clip-path="url(#clipShape{{ include.clip | capitalize }})">
      {% include modules/image.html img='art' class='figure__image' type='xlink' %}
    </g>
    {% endif %}
  </svg>
  {% endif %}

  {% assign src = include.src %}
  {% assign userimage = site.gravatar_userimage %}

  {% if src == userimage %}
    {% include modules/image.html size='1080' id=userimage  %}
  {% elsif include.clip == null %}
    {% assign src = include.src %}
    {% include modules/picture.html img=src class='figure__pic'  %}
  {% endif %}

  {% if include.caption %}
  <figcaption class="
  {% if include.deco %}
  figure__caption
  {% endif %} figure__pic--caption">
    <small>{{ include.caption }}</small>
  </figcaption>
  {% endif %}

</figure>
