<header class="hero {% if include.view %}masthead__{{ include.view }}-view{% endif %}">

  <div class="hero__meta">
    <header class="hero__header">
      <div class="hero__number">
        {% if item.type %}
        <span class="hero__category"><small>{{ item.type }}</small></span>
        {% endif %}
        {% if item.position %}
        <span class="hero__id">0{{ item.position }}</span>
        {% endif %}
      </div>
      {% capture header %}
        {% if page.intro %}
          {{ page.intro }}
        {% else %}
          {{ page.title }}
        {% endif %}
      {% endcapture %}
      {% include modules/header.html type="Header" scale="1" text=header class="masthead__title" %}
    </header>

    {% if item.url == page.url %}
    <ul class="inline-list tag-list">
      {% for each in item.tags %}
      <li class="tag">
        <span>{{ each }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if page.overview %}
    {% capture text %}{{ page.overview }}{% endcapture %}
    <p class="hero__lead">
    {{ text }}
    </p>
    {% endif %}

    {% include modules/anchor.html class='hero__anchor' id='projectOverview' label='Project overview' icon='long-arrow-right' %}

  </div>

  {% if item.color %}
    {% assign hue = item.color %}
    {% include modules/figure.html class='masthead__figure' deco=1 clip='circle' color=hue viewBox='0 0 500 500' %}
  {% endif %}

</header>
