<header class="masthead {% if include.view %}masthead__{{ include.view }}-view{% endif %}">

  <div class="masthead__meta">


    <header class="masthead__header">
      {% capture header %}
        {% if page.intro %}
          {{ page.intro }}
        {% else %}
          {{ page.title }}
        {% endif %}
      {% endcapture %}
      {% include modules/header.html type="Header" scale="1" text=header class="masthead__title" %}
    </header>


    {% if page.overview %}
    {% capture text %}{{ page.overview }}{% endcapture %}
    <p class="masthead__lead">
    {{ text }}
    </p>
    {% endif %}

    <div class="masthead__controls">
    {% if page.primary-anchor %}
      {% if page.download %}
        {% include modules/button.html class='masthead__button' style='solid' type=button label='Download' icon='arrow-to-bottom' %}
      {% endif %}
      {% capture anchor %}{{ page.primary-anchor }}{% endcapture %}
      {% capture text %}{{ page.primary-anchor-text }}{% endcapture %}
      {% include modules/link.html class='masthead__url' target=anchor type='secondary' label=text icon='long-arrow-right' %}
    {% endif %}
    </div>

  </div>

  {% if item.color %}
    {% assign hue = item.color %}
    {% include modules/figure.html class='masthead__figure' deco=1 clip='circle' color=hue %}
  {% endif %}

</header>
