<!-- RETURN LAYOUT -->
{{ content }}

<!-- COMPONENTS -->
{% capture main %}

  {% capture overview %}
  {% assign item = page %}
  {% include modules/hero.html view='split' %}
  {% endcapture %}

  {% capture details %}
  {% assign item = page %}
  {% include modules/project-challenge.html %}
  {% endcapture %}

  {% capture stats %}
  {% assign item = page %}
  {% include modules/stats-slab.html %}
  {% endcapture %}

  {% capture diagrams %}
  {% assign item = page %}
  {% for diagram in item.diagrams %}
  {% assign name = diagram.name | slugify | prepend: "diagram--" %}
  {% assign text = diagram.caption %}
  {% assign orientation = diagram.orientation %}
  {% if orientation == 'portrait' %}
    {% assign defs = '0 0 500 700' %}
  {% elsif orientation == 'landscape' %}
    {% assign defs = '0 0 700 500' %}
  {% else %}
    {% assign defs = '0 0 500 500' %}
  {% endif %}
  {% include modules/figure.html class='project__diagram' caption=text src=name %}
  {% endfor %}
  {% endcapture %}

  {% capture wireframes %}
  {% assign item = page %}
  {% for wire in item.wireframes %}
  {% assign name = wire.name | slugify | prepend: "wireframe--" %}
  {% assign text = wire.caption %}
  {% if orientation == 'portrait' %}
    {% assign defs = '0 0 500 700' %}
  {% elsif orientation == 'landscape' %}
    {% assign defs = '0 0 700 500' %}
  {% else %}
    {% assign defs = '0 0 500 500' %}
  {% endif %}
  {% include modules/figure.html class='project__wireframe' src=name caption=text %}
  {% endfor %}
  {% endcapture %}

  {% capture prototypes %}
  {% assign item = page %}
  {% for protoype in item.prototypes %}
  {% assign name = protoype.name | slugify | prepend: "prototype--" %}
  {% assign text = protoype.caption %}
  {% include elements/figure.html src=name caption=text %}
  {% endfor %}
  {% endcapture %}

  {% capture screens %}
  {% assign item = page %}
  {% for screen in item.ui %}
  {% assign name = screen.name | slugify | prepend: "ui--" %}
  {% assign text = screen.caption %}
  {% include elements/figure.html src=name caption=text %}
  {% endfor %}
  {% endcapture %}

  {% include modules/project-detail.html hero=overview content=details kpi=stats research=study ux=diagrams wires=wireframes mvp=prototypes design=screens %}

{% endcapture %}

<!-- RETURN TEMPLATE -->
{% include modules/content.html block=main %}

<!-- MARKDOWN CONTENT -->
{% capture text %}{{ page.content | markdownify }}{% endcapture %}
{% include modules/markdown.html markdown=text %}
